@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*! Tilføjer tailwindcss  */
@tailwind base;
@tailwind components;
@tailwind utilities;


/*! Laver variabler med farverne, så man kun behøves at ændre dem her, og ikke alle stederne */
:root {
  --cphBlue: #00163B;
  --cphYellow: #FBB040;
  --textColor: #9C9C9C;
}

body {
  margin: 0;
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*! Laver standard styling på section */
section {
  height: 100vh;
  color: white!;
  background-color: var(--cphBlue);

  display: grid;
  justify-content: center;
  align-items: center;
}

/*! Fonten til cph business logo  */
.cphFont {
  font-family: 'Hepta Slab', serif;
}